<template>
  <v-app>
    <v-toolbar color="primary" dark>
      <v-toolbar-title class="white--text">
        <img class="brand-img" height="30" src="~assets/images/logo.png" alt="logo" />
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat @click="onShowModal" class="font-weight-bold"> Add app</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>
    <!-- Start Add App Modal -->
    <v-dialog :value="showCreateAppModal" transition="dialog-transition" scrollable max-width="500px">
      <v-card>
        <v-card-title class="title">Add App</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-text-field v-model="newApp.url" @change="fetchAppInfo" label="App Url"></v-text-field>
          <v-text-field v-model="newApp.title" label="App Name"></v-text-field>
          <v-text-field v-model="newApp.genre" label="App Category"></v-text-field>
          <v-radio-group v-model="newApp.installationMethod">
            <div slot="label">Installation method</div>
            <v-radio value="Playstore">
              <div slot="label">PlayStore</div>
            </v-radio>
            <v-radio value="APK">
              <div slot="label">APK</div>
            </v-radio>
          </v-radio-group>
          <v-radio-group v-model="newApp.keyboardSupported">
            <div slot="label">Keyboard input supported</div>
            <v-radio value="YES">
              <div slot="label">Yes</div>
            </v-radio>
            <v-radio value="NO">
              <div slot="label">No</div>
            </v-radio>
          </v-radio-group>
          <v-radio-group v-model="newApp.stylusOptimized">
            <div slot="label">Optimized for use with stylus</div>
            <v-radio value="YES">
              <div slot="label">Yes</div>
            </v-radio>
            <v-radio value="NO">
              <div slot="label">No</div>
            </v-radio>
          </v-radio-group>
          <v-textarea
            v-model="newApp.notes"
            rows="2"
            label="Additional notes"></v-textarea>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="$store.dispatch('setShowCreateAppModal', false)">Cancel</v-btn>
          <v-btn color="blue darken-1" flat @click="onCreateApp">Add app</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- End Add App Modal -->

    <!-- Start Login Modal -->
      <v-dialog
        :value="showLoginModal"
        max-width="500px"
        transition="dialog-transition">
        <v-card>
          <v-card-text>
            <v-container grid-list-xs>
              <v-layout row wrap justify-center>
                <v-btn color="primary" @click="onSignInWithGoogle">
                  <v-icon left>fab fa-google</v-icon>
                  Sign In With Google
                </v-btn>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    <!-- End Login Modal -->

  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        showModal: false,
        newApp: {
          title: '',
          url: '',
          genre: '',
          installationMethod: null,
          keyboardSupported: null,
          stylusOptimized: null,
          notes: ''
        }
      }
    },
    mounted () {
      this.$mixpanel.track("Page view")
    },
    computed: {
      showCreateAppModal () {
        return this.$store.getters.showCreateAppModal
      },
      currentUser () {
        return this.$store.getters.currentUser
      },
      showLoginModal () {
        return this.$store.getters.showLoginModal
      }
    },
    methods: {
      getParameterByName(name, url) {
        if (!url) url = window.location.href
        name = name.replace(/[\[\]]/g, '\\$&');
        const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)')
        const results = regex.exec(url)
        if (!results) return null
        if (!results[2]) return ''
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
      },
      onSignInWithGoogle () {
        this.$store.dispatch('signin')
          .then((user) => {
            this.$store.dispatch('setShowLoginModal', false)
            this.$mixpanel.track('User has signed in', { email: user.email, name: user.name })
            this.$mixpanel.identify(user.email)
            this.$mixpanel.people.set({
              '$email': user.email,
              '$last_login': new Date(),
              'name': user.name,
            })
          })
      },
      onShowModal () {
        if (this.currentUser)
          this.$store.dispatch('setShowCreateAppModal', true)
        else
          this.$store.dispatch('setShowLoginModal', true)
      },
      fetchAppInfo () {
        const id = this.getParameterByName('id', this.newApp.url)

        this.$axios.get(`https://playapi.madeforchromeos.com/api/apps/${id}`)
          .then((res) => {
            console.log(res)
            const app = (({ appId, description, developerWebsite, developerEmail, free, genre, headerImage, icon, installs, price, screenshots, size, title, video, videoImage }) => ({ id, description, developerWebsite, developerEmail, free, genre, headerImage, icon, installs, price, screenshots, size, title, video, videoImage }))(res.data)
            this.newApp = {
              ...this.newApp,
              ...app
            }
          })
      },
      onCreateApp () {
        this.$store.dispatch('createApp', this.newApp)
          .then((res) => {
            this.$store.dispatch('setShowCreateAppModal', false)
            this.$mixpanel.track('User has added an Android app', {
              user: this.currentUser.email,
              app: this.newApp.id
            })
            this.newApp = {
              title: '',
              url: '',
              genre: '',
              installationMethod: '',
              keyboardSupported: null,
              stylusOptimized: null,
              notes: ''
            }
          })
        
      },
    }
  }
</script>
<style>
  html,body {
    height:100%;
  }

  .application {
    font-family: 'Istok Web', sans-serif !important;
  }

  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .title,
  .headline {
    font-family: 'Istok Web', sans-serif !important;
  }

  #ph-cta {
    color: white !important;
    text-decoration: none !important;
  }

  #app-card {
    color: rgba(0,0,0,.87) !important;
    text-decoration: none !important;
  }
</style>