<template>
  <v-container grid-list-xs>
    <v-layout row wrap class="my-5">
      <v-flex xs12 class="text-xs-center">
        <h1 class="display-2"> made for <span class="secondary--text"> chromeOs </span> </h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field
          v-model="query"
          label="Search app"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout v-if="apps.length === 0" row wrap>
      <v-flex xs12 d-flex justify-center="">
        <v-progress-circular indeterminate class="my-5" color="primary"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout v-else row wrap>
      <v-flex v-for="(app, index) in apps" :key="index" xs12 md6 class="my-3 px-3">
        <v-card>
          <a id="app-card" :href="`https://play.google.com/store/apps/details?id=${app.id}`" target="_blank">
            <v-layout>
              <v-flex xs5>
                <v-img
                  :src="app.headerImage"
                  height="125px"
                  contain
                ></v-img>
              </v-flex>
              <v-flex xs7>
                <v-card-title primary-title>
                  <div>
                    <div class="headline">{{ app.title }}</div>
                    <div>{{ app.genre }} </div>
                    <div>{{ app.installs }} downloads </div>
                  </div>
                </v-card-title>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs7 offset-xs5 class="pb-2">
                <v-tooltip class="mx-2" bottom v-if="app.stylusOptimized && app.stylusOptimized === 'YES'">
                  <v-icon slot="activator">fas fa-edit</v-icon>
                  <span> Stylus Optimized </span>
                </v-tooltip>
                
                <v-tooltip class="mx-2" bottom v-if="app.installationMethod && app.installationMethod === 'Playstore'">
                  <v-icon slot="activator">fab fa-google-play</v-icon>
                  <span> Install via PlayStore </span>
                </v-tooltip>

                <v-tooltip class="mx-2" v-else bottom>
                  <v-icon slot="activator">fab fa-android</v-icon>
                  <span> Install via APK </span>
                </v-tooltip>

                <v-tooltip class="mx-2" bottom v-if="app.keyboardSupported && app.keyboardSupported === 'YES'">
                  <v-icon slot="activator">fas fa-keyboard</v-icon>
                  <span> Supports Keyboard </span>
                </v-tooltip> 
              </v-flex>
            </v-layout>
          </a>
          <v-divider light></v-divider>
          <v-card-actions class="pa-3">
            <span class="subheading">
              {{ app.upvotes }}
            </span>
            <v-btn flat icon color="success" @click="onUpvote(app)">
              <v-icon>fas fa-arrow-alt-circle-up</v-icon>
            </v-btn>
            <v-btn flat icon color="error" @click="onDownvote(app)">
              <v-icon>fas fa-arrow-alt-circle-down</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn flat icon @click="initializeComments(app)">
              <v-icon>fas fa-comments</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <!-- Start Comments Modal -->
    <v-dialog
      v-model="showCommentsModal"
      transition="dialog-transition">
      <v-card>
        <div id="comments_thread"></div>
      </v-card>
    </v-dialog>
    <!-- End Comments Modal -->
  </v-container>
</template>

<script>

export default {
  name: 'ChromebookApps',
  data () {
    return {
      query: '',
      showModal: false,
      showLoginModal: false,
      showCommentsModal: false,
      // apps: []
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters.currentUser
    },
    apps () {
      if (this.query.trim().length > 0) {
        return this.$store.getters.appsByTitle(this.query)
      }
      return this.$store.getters.apps
    }
  },
  watch: {
    // query () {
    //   this.filterApps()
    // },
    showCommentsModal (value) {
      if (!value) {
        const iframe = document.querySelector('#comments_thread iframe')
        iframe.parentNode.removeChild(iframe)
      }
    }
  },
  mounted () {
    console.log('Mixpanel: ', this.$mixpanel)
    this.initializeComments
  },
  methods: {
    getApps () {
      this.$store.dispatch('getApps')
    },
    initializeComments (app) {
      console.log(app)
      if (this.currentUser) {
        var config = {
          accountId: 'JODKcK5NvRp0k6ik0dR3',
          threadId: app.title.trim().toLowerCase(),
          user: {
            name: this.currentUser.name,
            avatar: `https://api.adorable.io/avatars/285/${this.currentUser.email}`
          }
        }
      } else {
         var config = {
          accountId: 'JODKcK5NvRp0k6ik0dR3',
          threadId: app.title.trim().toLowerCase(),
        }
      }

      var d = document,
      url = this.currentUser? "https://commentflow-prod.firebaseapp.com?user_name=" + config.user.name + "&user_avatar=" + config.user.avatar + "&account_id=" + config.accountId + "&thread_id=" + config.threadId : "https://commentflow-prod.firebaseapp.com?account_id=" + config.accountId + "&thread_id=" + config.threadId,
      i = d.createElement('iframe')
      i.src = url
      i.height = '100%'
      i.width = '100%'
      i.frameBorder = '0'
      i.style.display = 'block'
      i.style.width = '100%'
      i.style.minWidth = '100%'
      i.style.border = 'none'
      i.style.overflow = 'hidden'
      i.style.height = '100%'
      i.style.height = '500px'
      d.querySelector("#comments_thread").style.height = "100% !important"
      d.querySelector("#comments_thread").appendChild(i)

      this.showCommentsModal = true
    },
    onUpvote (app) {
      if (!this.currentUser)
        this.$store.dispatch('setShowLoginModal', true)
      else
        this.$store.dispatch('upvote', app)
          .then(() => {
            this.getApps()
            this.$mixpanel.track("User has upvoted an app", {
              user: this.currentUser.email,
              app: app.id
            })
          })
    },
    onDownvote (app) {
      if (!this.currentUser)
        this.$store.dispatch('setShowLoginModal', true)
      else
        this.$store.dispatch('downvote', app)
          .then(() => {
            this.getApps()
            this.$mixpanel.track("User has downvoted an app", {
              user: this.currentUser.email,
              app: app.id
            })
          })
    }
  }
}
</script>
